<!DOCTYPE html>
<html ng-app="app" lang=”pt-br”>
<head>

<base href="/"/>
<meta charset=”UTF-8”>
<title>Insert title here</title>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular-route.js"></script>
<script src="./js/app.js"></script>
<script src="./js/controller/atendimento-controller.js"></script>
<script src="./js/controller/servico-controller.js"></script>
<script src="./js/controller/servico-detalhe-controller.js"></script>
</head>
<body>
	<a href="/servico">Servicos</a>
	<br>
	<a href="/atendimento">Atendimentos</a>
	<div ng-view></div>
</body>
</html>